body {
  margin: 0;
  padding: 0;
  background-color: rgb(243, 238, 238);
}

.header {
  padding: 20px;
  background-color: lightsteelblue;
  color: rgb(28, 28, 94);
  border-bottom: 1px solid lightgrey;
}

.expand-collapse {
  position: absolute;
  right: 20px;
  top: 35px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

.expand-btn {
  background-color: #198754;
  border: 1px solid #198754;
}

.collapse-btn {
  background-color: #212529;
  border: 1px solid #212529;
}

.container {
  display: flex;
}

.side-nav {
  width: 320px;
  transition: width 1s;
  transition-timing-function: linear;
  border-right: 1px solid lightgrey;
  height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: lightgrey;
  box-shadow: rgb(154 159 155 / 40%) 2px 0;
}

.collapse {
  transition: width 1s;
  transition-timing-function: linear;
  width: 30px;
  overflow: hidden;
  background-color: lightgrey;
}

.nav-link-wrapper {
  padding-top: 10px;
  opacity: 1;
  transition: opacity 1s;
  transition-timing-function: linear;
}

.nav-link-wrapper-collapse {
  opacity: 0;
  transition: opacity 1s;
  transition-timing-function: linear;
}

.nav-link {
  margin: 10px 0;
  font-weight: bold;
  color:cadetblue;
}

.main-container {
  padding: 20px;
  color: lightslategray;
  font-weight: bold;
}
